.cart-container {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 80px;
  right: 70px;
  width: 340px;
  height: auto;
  padding: 20px 0 20px;
  border-radius: 12px;
  box-shadow: 0px 14px 20px 0px #00000017;
  display: none;

  &.isActive {
    display: block;
  }

  .cart-title {
    font-weight: 400;
    color: hsl(220, 13%, 13%);
    padding: 2px 25px 0;
  }

  .cart-hr {
    border-top: 1px solid hsl(223, 64%, 98%);
    margin: 20px 0;
  }

  section {
    padding: 0 20px 0;

    .cart-message {
      display: none;

      &.isVisible {
        text-align: center;
        display: block;
      }
    }

    .added-product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      gap: 5px;

      .cart-image {
        width: 60px;
        height: 60px;
        border-radius: 6px;
        background-color: hsl(25, 100%, 94%);

        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          object-fit: cover;
          border-radius: 6px;
        }
      }

      .cart-descript {
        font-weight: 400;
        color: hsl(219, 9%, 45%);

        .cart-prices {
          font-weight: 700;
          color: hsl(220, 13%, 13%);
        }
      }

      .cart-delete {
        cursor: pointer;
      }
    }
    .checkout-btn {
      background-color: hsl(26, 100%, 55%);
      color: hsl(0, 0%, 100%);
      width: 100%;
      padding: 16px 0 16px;
      border: none;
      border-radius: 9px;
      transition: all ease-in 0.6s;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        background-color: hsl(25, 100%, 94%);
        transition: all ease-out 0.6s;
        color: hsl(220, 13%, 13%);
      }
    }
  }
}
